body {
    font-family: 'Muli', sans-serif;
    display: grid;
    justify-content: center;
}
.container {
    display:grid;
    grid-auto-rows: 60px 50px 50px 150px  50px;
    grid-template-columns: 200px; 
    grid-gap: 10px;
}
.inputs {
    padding: 5px
}
.calc, .inputs {
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    border: 1px solid #D1DBDB;
}
.calc {
    background-color: #3E9E9E;
    color: white;
}
.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px;
    grid-template-rows: 100px 50px;
}
.delete {
    width: 200px;
    background-color: #DE2E1F;
}
.calcs {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
}
h1 {
    text-align: center;
}